<div class="row">
	<div class="col-md-12">
		<form name="tutorialForm" novalidate #tutForm="ngForm" (ngSubmit)="onSubmit(tutForm)">
		  <div class="row">
				<div class="form-group col-md-12">
					<label for="title">Title : </label>
					<input type="text" class="form-control" id="title" name="title" [(ngModel)]="title"/>
				</div>
		   </div>
			<div class="row">
				<div class="form-group col-md-12">
					<label for="description">Description : </label>
					<textarea name="description" class="form-control" id="description" [(ngModel)]="description"></textarea>
				</div>
			</div>
			<div class="row" *ngIf="editMode">
				<div class="form-group">
					<div class="form-check col-md-12">
						<label class="form-check-label">Status : </label> {{ status }} <input type="hidden" class="form-control" id="published" name="published" [(ngModel)]="published"/>
					</div>
				</div>
			</div>
			<div class="row" *ngIf="!editMode">
				<div class="form-group col-md-12">
					<button type="submit" class="btn btn-success">ADD</button> &nbsp; 
					<button type="button" class="btn btn-primary" (click)="onClear()">CLEAR</button>
				</div>
			</div>
			<div class="row" *ngIf="editMode">
				<div class="form-group col-md-12">
					<button type="button" class="btn btn-primary" (click)="onUpdateStatus(status)">{{ status === 'Published' ? 'UNPUBLISH' : 'PUBLISH' }}</button> &nbsp; 
					<button type="button" class="btn btn-success" (click)="onUpdate()">UPDATE</button> &nbsp; 
					<button type="button" class="btn btn-danger" (click)="onDelete()">DELETE</button> 
				</div>
			</div>			
		</form>
	</div>
	
</div>
<div class="row"  *ngIf="submitted" style="margin: 10px">
	<div class="col-md-12">
		<div class="alert alert-success">
			<strong>Success!</strong> You submitted successfully!
		</div>
    </div>
</div>
