<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin:24px 0;">
    <a class="navbar-brand" href="#">MEAN STACK</a>
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb1" aria-expanded="true">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navb1">
	  <ul class="navbar-nav mr-auto">
		<li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/tutorials/lists']">Tutorial Lists</a></li>
		<li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/tutorials/form']">Form</a></li>
	  </ul>
	</div>
</nav>
